<div class="container hero">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="hero__heading-title">Selenium in Docker</h1>
                    <p class="hero__heading-description">An open-source automated testing solution</p>
                </div>
                <div class="col-12 d-none d-md-block">
                    {{ partial "browsers" . }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <img class="hero__preview" src="images/preview.png" alt="preview">
        </div>
    </div>
    <div class="row d-block d-md-none mt-4 text-center">
        <div class="col-12">
            {{ partial "browsers" . }}
        </div>
    </div>
</div>
