html, body {
    font-family: 'Ubuntu', sans-serif;
    color: #6D6D7A;
    font-size: 18px;
}

body {
    background-image: url('/images/background.svg');
    background-size: 2228px 659px;
    background-position: top center;
    background-repeat: no-repeat;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: #002C30;
    font-size: 2.111rem;
    line-height: 138%;
}

h3 {
    font-size: 1.44rem;
    line-height: 138%;
    font-weight: 400;
    margin-bottom: 24px;
}

h2 {
    color: #002C30;
}

nav a {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFFFFF;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    letter-spacing: 24px;
}

nav li {
    display: inline-block;
    letter-spacing: normal;
}

.header {
    height: 80px;

    &__logo {
        &-image {
            width: 40px;
            height: 40px;
            vertical-align: middle;
        }

        &-title {
            font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.8);
            vertical-align: middle;
            margin-left: 18px;
        }
    }

    &__links {
        list-style-type: none;
        text-align: right;
        margin: 0;
        height: 40px;
        line-height: 40px;
        letter-spacing: 24px;

        & ul {
            letter-spacing: 28px;
        }
    }

    &__menu {
        text-align: right;

        &-wrapper {
            display: none;
            position: absolute;
            padding: 0 18px;
            width: 100vw;
            top: 50px;
            right: 0;
            z-index: 1000;
            box-sizing: border-box;
        }

        &-button + input {
            display: none;
        }

        &-container {
            border-top: 5px solid #197D86;
            box-shadow: 0 4px 12px rgba(13, 3, 30, 0.25);
            border-bottom: 5px solid #197D86;
            border-radius: 4px;
            background-color: white;
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: left;

            & li {
                margin: 1.33rem 0;
                padding: 0 1.33rem;
                font-size: 1.33rem;
            }

            & a {
                color: #002C30;
                font-weight: 300;
            }
        }

        &-button + input:checked ~ &-wrapper {
            display: block;
        }
    }
}

.hero {
    margin-top: 25px;

    &__heading-title {
        margin-bottom: 10px;
    }

    &__heading-description {
        margin: 0 0 45px;
        color: #6D6D7A;
        font-weight: 300;
        line-height: 207%;
    }

    &__preview {
        width: 100%;
    }

    &__features {
        justify-content: space-evenly;
    }

    &__feature {
        display: inline-block;
        height: 190px;
        padding: 42px 30px;
        transition: background-color 0.3s, color 0.3s;
        max-width: 280px;

        &-title {
            font-size: 1.44rem;
            font-weight: 600;
            transition: color 0.3s;
        }

        &-divider {
            height: 2px;
            margin: 12px 20px;
            background-color: rgba(40, 40, 40, 0.15);
            border-radius: 2px;
            transition: background-color 0.3s;
        }

        &-description {
            line-height: 138%;
            font-weight: 300;
        }

        &_browsers {
            box-shadow: 0 0 12px rgba(137, 57, 180, 0.35);

            &:hover {
                background-color: #6739B4;
            }

            & .hero__feature-title {
                color: #6739B4;
            }
        }

        &_moon {
            box-shadow: 0 0 12px rgba(38, 70, 148, 0.35);

            &:hover {
                background-color: #264694;
            }

            & .hero__feature-title {
                color: #264694;
            }
        }

        &_selenoid {
            box-shadow: 0 0 12px rgba(51, 139, 47, 0.35);

            &:hover {
                background-color: #338B93;
            }

            & .hero__feature-title {
                color: #338B93;
            }
        }

        &:hover, &:hover &-title {
            color: white;
        }

        &:hover &-divider {
            background-color: rgba(255, 255, 255, 0.15);
        }
    }
}

.features {
    margin-top: 95px;

    &__feature {
        text-align: center;

        &-title {
            color: #002C30;
            margin-top: 13px;
            font-weight: 400;
        }

        &-description {
            margin: 10px 0 0;
            font-weight: 300;
        }
    }

    &__divider {
        margin-top: 45px;
        height: 4px;
        background: linear-gradient(89.76deg, rgba(182, 244, 146, 0.3) 10.64%, rgba(51, 139, 147, 0.3) 91.19%);
        border-radius: 4px;
    }
}

.projects {
    margin-top: 100px;

    &__title {
        margin-bottom: 32px;
    }

    &__project {
        background-color: #197D86;
        border-radius: 4px;
        padding: 24px;

        &-title {
            color: white;
            font-weight: 500;
            margin-bottom: 16px;
        }

        &-description {
            color: rgba(255, 255, 255, 0.6);
            font-weight: 300;
        }

        &-links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            letter-spacing: 16px;
            font-weight: 500;

            & li {
                letter-spacing: normal;
                display: inline-block;
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.articles {
    margin-top: 51px;

    &__content {
        margin-top: 32px;
    }

    &__article-title {
        margin-bottom: 0;
    }

    &__article {
        border: 2px solid rgba(10, 34, 94, 0.19);
        padding: 24px;
        border-radius: 5px;

        &-title {
            color: #197D86;
            font-weight: 600;
            font-size: 1rem;
        }

        &-description {
            color: #6D6D7A;
            margin: 16px 0 0;
            font-weight: 300;
        }
    }
}

.footer {
    background: linear-gradient(181.56deg, #B6F492 -254.68%, #338B93 74.78%);
    color: rgba(255, 255, 255, 0.8);
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 50px;

    &__left {
        text-align: left;
    }

    &__right {
        text-align: right;
    }

    &__separator {
        height: 1px;
        background-color: rgba(255, 255, 255, 0.3);
        margin: 25px 15px 38px;
    }

    &__terms {
        text-align: right;
        font-size: 0.78rem;
        line-height: 1rem;
    }
}

.browsers {
    list-style-type: none;
    letter-spacing: 24px;
    margin: 0;
    padding: 0;

    & li {
        display: inline-block;
        letter-spacing: normal;
    }
}

@media (max-width: 576px) {
    body {
        background-image: none;
    }

    h1 {
        font-size: 1.9rem;
    }

    nav li {
        display: block;
    }

    .features {
        margin-top: 60px;
    }

    .videos {
        margin-top: 23px;
    }

    .footer__left {
        font-size: 1.33rem;
        line-height: 3rem;
    }

    .footer__right {
        margin-top: 30px;
        text-align: left;
        line-height: 2rem;
    }

    .footer__terms {
        margin-top: 24px;
        text-align: left;
    }

    .articles__articles {
        margin-top: 20px;
    }

    .articles__video iframe {
        height: 200px;
    }

    .browsers {
        letter-spacing: 18px;
    }
}

@media (max-width: 992px) {
    .hero__feature {
        width: 100%;
        max-width: initial;
        height: inherit;
    }
}
